#pragma once

static constexpr char WIFI_SSID[] = "Wokwi-GUEST";
static constexpr char WIFI_PASSWORD[] = "";

static constexpr char AWS_ROOT_CA[] = R"CERT(
-----BEGIN CERTIFICATE-----
PASTE_AMAZON_ROOT_CA_1_HERE
-----END CERTIFICATE-----
)CERT";

static constexpr char AWS_DEVICE_CERT[] = R"CERT(
-----BEGIN CERTIFICATE-----
PASTE_DEVICE_CERTIFICATE_HERE
-----END CERTIFICATE-----
)CERT";

static constexpr char AWS_PRIVATE_KEY[] = R"KEY(
-----BEGIN PRIVATE KEY-----
PASTE_DEVICE_PRIVATE_KEY_HERE
-----END PRIVATE KEY-----
)KEY";
